.main-container {
  width: 100vw;
  height: 88vmin;
  background-image: url(./assets/bg-bf3.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;




  .main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .sidebar-left {
      width: 15%;
      height: 100%;
      background-color: rgb(12, 12, 12);


      .left-sidebar-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .left-sidebar-navbar {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column;
          gap: 2px;

          .left-navbar {
            width: 100%;
            height: 5vmin;

            display: flex;
            justify-content: center;
            align-items: center;

            p {
              font-family: var(--font-primary);
              font-size: 2vmin;


            }
          }

          .left-navbar:hover {
            background-color: var(--color-pink);
            transition: 0.2s;
            cursor: pointer;
          }

        }
      }

      .left-sidebar-ranking {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 3px;

        .left-ranking {
          width: 100%;
          height: 5vmin;
          // background-color: orange;
        }
      }
    }

    .mainfeed {
      width: 70%;
      height: 90%;
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      // display: none;


      .mainfeed-container {
        width: 100%;
        height: 99%;

        display: flex;
        align-items: flex-end;
        justify-content: center;


        .mainfeed-text {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 1%;


          .mainfeed-top {
            width: 85%;
            height: 15%;
            display: flex;
            flex-direction: column;
            background-color: #0c0c0c;

          }

          .mainfeed-bottom {
            display: flex;
            width: 85%;
            height: 85%;
            background-color: rgb(194, 185, 185);
            overflow-y: auto;
            overflow-x: hidden;
            flex-direction: column;
            gap: 0.3vmin;
            align-items: center;
            justify-content: center;


            .mainfeed-post {
              width: 100%;
              height: 15%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 1%;
              background-color: black;


              p {
                border-bottom: 1px solid var(--color-pink);
                font-family: var(--font-primary);
                font-size: 2.5vmin;
                letter-spacing: 0.1vmin;

              }

              .mainfeed-post-input {
                width: auto;
                height: 30%;
                display: flex;

                justify-content: center;
                align-items: center;
                gap: 1%;


                input {
                  width: 60vmin;
                  height: auto;
                  min-height: 3.5vmin;
                  border: none;
                  margin-left: 3vmin;
                  margin-right: 3vmin;
                }

                input:hover {
                  border-color: #888;
                }

                input:focus {
                  outline: none;
                  border-color: #555;
                  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                }



                button {
                  width: auto;
                  font-size: 1.3vmin;
                  background-color: var(--color-pink);
                  color: white;
                  border-color: var(--color-pink);
                  letter-spacing: 0.1vmin;
                  font-family: var(--font-secondary);
                  font-weight: 900;
                  border-radius: 0.3vmin;
                  cursor: pointer;

                  &:hover {
                    background-color: rgb(192, 19, 111);
                    transition: 0.3s;
                  }

                  &:focus {
                    background-color: red;
                  }

                }

              }
            }

            .mainfeed-view {
              width: 100%;
              height: 100%;
              background-color: rgb(22, 22, 22);
              display: flex;
              flex-direction: column;
              align-items: center;
              overflow-y: scroll;
              scrollbar-width: none;
              scrollbar-color: transparent transparent;


              .mainfeed-view-title {
                width: 100%;
                text-align: center;
                margin-bottom: 1vmin;
                background-color: #080808;


                p {

                  font-family: var(--font-primary);
                  font-size: 4vmin;
                  letter-spacing: 0.5vmin;
                  margin-top: 0.1vmin;
                  font-weight: 500;
                  border-bottom: 0.1vmin solid var(--color-pink);

                }

              }

              .mainfeed-view-generated {
                width: 95%;
                height: auto;
                background-color: rgb(194, 200, 212);
                // border-bottom: 0.2vmin solid rgb(58, 57, 57);
                display: flex;
                padding-top: 1vmin;
                padding-bottom: 1vmin;

                box-shadow: 0px 2vmin 6vmin 0px rgb(0, 0, 0);
                word-wrap: break-word;


                .generated-container {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: space-around;


                  .generated-post {
                    width: 90%;

                  }

                  img {
                    align-self: flex-start;
                    border-left: 0.1vmin solid green;
                  }
                }


                #nick {
                  font-weight: 600;
                  font-size: 1.5vmin;
                  color: rgb(206, 206, 206);
                  font-family: var(--font-ranking);



                }

                p {

                  font-size: 1.75vmin;


                }



                &:nth-child(even) {
                  background-color: rgba(194, 200, 212, 0.2);

                }

                &:nth-child(odd) {
                  background-color: rgba(49, 49, 49, 0.5);

                }
              }

            }
          }
        }
      }

    }

    .sidebar-right {
      width: 15%;
      height: 100%;
      background-color: rgb(8, 8, 8);

    }
  }
}