.main-container {
  width: 100vw;
  height: 88vmin;
  background-image: url(./assets/bazaar.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;



  .sidebar-left {
    width: 55vmin;
    height: auto;
    max-width: 288px;

    background-color: rgba(0, 0, 0, 0.91);
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    margin-right: 10px;
    // display: none;


    .ranking {
      width: 100%;

      display: flex;
      flex-direction: column;
      // gap: 4px; 
      gap: 0.06em;

      .ranking-text {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        text-transform: uppercase;
        font-family: var(--font-secondary);

        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 25%;
        text-decoration-color: var(--color-pink);
        padding-bottom: 15px;

      }

      .ranking-scores {
        width: 100%;
        display: flex;
        flex-direction: row;



        .scores-left {
          width: 12%;

          background-color: white;
          color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.5em;
          font-family: var(--font-ranking);
          font-weight: 400;
          border-right: 2px solid black;
          border-top: 1px solid rgba(0, 0, 0, 1);
          border-bottom: 1px solid rgba(0, 0, 0, 1);

        }

        .scores-middle {
          width: 73%;

          background-color: rgba(0, 0, 0, 0.85);
          border-top: 1px solid rgba(0, 0, 0, 1);
          border-bottom: 1px solid rgba(0, 0, 0, 1);
          display: flex;
          align-items: center;
          justify-content: space-around;
          // flex-direction: row-reverse;


          .player-flag {
            width: 25%;
            height: 2em;
            background-size: cover;
            background-position: center center;
            box-shadow: inset -100px 0px 45px -90px rgba(0, 0, 0, 1);
            // box-shadow: inset 100px 0px 45px -55px rgba(0, 0, 0, 0.99);
            margin-left: 1%;
            filter: contrast(110%);

          }

          .player-name {
            width: 60%;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.8em;
            font-family: var(--font-ranking);
            // margin-left: 5%;
            // text-shadow: 2px 2px 1px #1e222c;
            font-weight: 400;


          }

          #first-place.player-flag {
            background-image: url(./assets/png-48/germany.png);
          }

          #second-place.player-flag {
            background-image: url(./assets/png-48/usa.png);
          }

          #third-place.player-flag {
            background-image: url(./assets/png-48/brazil.png);
          }

          #fourth-place.player-flag {
            background-image: url(./assets/png-48/italy.png);
          }

          #fifth-place.player-flag {
            background-image: url(./assets/png-48/gb.png);
          }

          #sixth-place.player-flag {
            background-image: url(./assets/png-48/argentina.png);
          }

          #seventh-place.player-flag {
            background-image: url(./assets/png-48/poland.png);
          }

          #eighth-place.player-flag {
            background-image: url(./assets/png-48/germany.png);
          }

          #ninth-place.player-flag {
            background-image: url(./assets/png-48/france.png);
          }

          #teenth-place.player-flag {
            background-image: url(./assets/png-48/usa.png);
          }

          #eleventh-place.player-flag {
            background-image: url(./assets/png-48/germany.png);
          }

          #twelfth-place.player-flag {
            background-image: url(./assets/png-48/chile.png);
          }

          #thirteenth-place.player-flag {
            background-image: url(./assets/png-48/brazil.png);
          }

          #fourteenth-place.player-flag {
            background-image: url(./assets/png-48/argentina.png);
          }

          #fifteenth-place.player-flag {
            background-image: url(./assets/png-48/poland.png);
          }
        }

        .scores-right {
          width: 15%;

          background-color: var(--color-pink);
          border-top: 1px solid rgba(0, 0, 0, 1);
          border-bottom: 1px solid rgba(0, 0, 0, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: var(--font-ranking);
          font-size: 4vmin;
          font-weight: 500;
          text-shadow: 1px 1px 1px black;
        }
      }

      .scores-middle:hover {
        background-color: gray;
        cursor: pointer;
        transition: 0.2s;


        ~.scores-right {
          background-color: rgba(255, 217, 0, 0.8);
        }
      }
    }
  }

  .main-content {
    width: 100%;
    height: 100%;
    border-top: var(--border);
    border-bottom: var(--border);
    display: flex;
    border: 2px solid black;
    border-right: 1px solid black;
    border-right: none;
    justify-content: space-between;


    .main-left {
      width: 15%;
      height: 100%;
      background-color: rgb(12, 12, 12);


      .left-sidebar {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .left-sidebar-navbar {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column;
          gap: 2px;

          .left-navbar {
            width: 100%;
            height: 5vmin;

            display: flex;
            justify-content: center;
            align-items: center;

            p {
              font-family: var(--font-primary);
              font-size: 2vmin;


            }
          }

          .left-navbar:hover {
            background-color: var(--color-pink);
            transition: 0.2s;
            cursor: pointer;
          }

        }
      }

      .left-sidebar-ranking {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 3px;

        .left-ranking {
          width: 100%;
          height: 5vmin;
          // background-color: orange;
        }
      }
    }

    .mainfeed {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      // border-left: 1px solid white;
      // border-right: 1px solid white;

      .mainfeed-top {
        width: 100%;
        height: 10vmin;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .mainfeed-top-box {
          width: 34%;
          height: 100%;
          background-color: #020202;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          text-transform: uppercase;
          white-space: nowrap;

          #event-left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 2vmin;
          }

          #event-mid {
            display: flex;
            flex-direction: column;
            align-items: center;

          }


          #event-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 2vmin;
          }

          #event-mid #event-top {
            font-size: 3.25vmin;
            font-family: var(--font-secondary);
            font-weight: 900;

          }

          #event-mid #event-bottom {
            font-size: 1.75vmin;
            font-family: var(--font-ranking);
            font-weight: 600;
            color: var(--color-pink);

          }

          #event-top {
            font-size: 2vmin;
            font-family: var(--font-secondary);
            font-weight: 900;


          }

          #event-bottom {
            font-size: 1.5vmin;
            font-family: var(--font-ranking);
            font-weight: 500;
            color: var(--color-pink);

          }

        }



        .mainfeed-top-box:hover {
          background-color: rgb(19, 19, 19);
          transition: 0.2s;
          color: rgba(255, 255, 255, 0.85);
          cursor: pointer;

        }




        :nth-child(1) {

          // border-bottom-left-radius: 100%;

        }

        :nth-child(2) {
          align-items: center;
        }

        :nth-child(3) {
          align-items: flex-start;
          // border-bottom-right-radius: 100%;


        }

      }

      .mainfeed-bottom {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        .mainfeed-text {
          width: 100%;
          height: 100%;
          display: flex;

          justify-content: center;


          .mainfeed-text-left {
            width: 75%;
            height: 100%;
            background-color: rgb(8, 8, 8);
            display: flex;
            flex-direction: column;
            gap: 1%;
            overflow-y: auto;
            overflow-x: hidden;

            .text-generated {
              width: 100%;
              height: auto;
              background-color: gray;
            }
          }

          .mainfeed-text-right {
            width: 25%;
            height: 100%;
            background-color: rgb(12, 12, 12);
          }
        }
      }

    }

    .main-right {
      width: 15%;
      height: 100%;
      background-color: rgb(8, 8, 8);

    }
  }
}






.sidebar-right {
  width: 30vmin;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);

  // border-left: var(--border);
  // border-top: var(--border);
  // border-bottom: var(--border);
}



@media (max-width: 1700px) {
  .main-container {}
}


@media (max-height: 820px) {
  .main-container {}
}