.setnickname-form {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--font-primary);



    form {
        background-color: rgb(7, 7, 7);
        width: 50vmin;
        height: 20%;
        display: flex;
        border-radius: 3vmin;
        flex-direction: column;
        align-items: center;
        justify-content: center;



        .form-set-box {
            display: flex;
            width: 100%;
            height: 60%;

            justify-content: center;


            .form-set-container {
                display: flex;
                flex-direction: column;

                width: 31%;
                height: 100%;
                justify-content: center;
                align-items: center;


                h3 {
                    width: 100%;
                    text-align: center;
                    font-size: 1.5vmin;
                    margin-bottom: 0.5vmin;
                    font-family: var(--font-ranking);
                }

                input {
                    width: 90%;
                    height: 3vmin;
                    background-color: rgb(34, 34, 34);
                    border: none;
                    color: rgba(255, 255, 255, 0.9);
                    font-family: var(--font-primary);
                    text-align: center;
                    font-size: 1.5vmin;

                }


                input:focus {
                    outline: 1px solid var(--color-pink);
                }

                input::placeholder {

                    opacity: 0.2;
                }
            }
        }

        .form-button {
            display: flex;
            width: 60%;
            height: 20%;
            justify-content: center;

            button {


                background-color: rgb(34, 33, 34);
                border: none;
                font-size: 2vmin;
                font-weight: 400;
                font-family: var(--font-secondary);
                cursor: pointer;
                white-space: nowrap;
                color: rgba(255, 255, 255, 0.9);
                text-transform: uppercase;
                width: 60%;
                border-radius: 3vmin;

            }



            button:hover {
                background-color: rgb(22, 22, 22);
                transition: 0.2s;
            }

            button:active {
                background-color: var(--color-pink);

            }
        }


    }
}