img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




// <div>
//     <h2>{friend.username}'s Profile</h2>
// <img src={friend.avatar} alt="Friend Avatar" />
//     <p>Username: {friend.username}</p>
//     {/* Wyświetl pozostałe dane znajomego */}
//     <p>zerq: {user.nickname}</p>
//     <p>zerqavatar: {user.avatar}</p>
// </div>