.App-header {
  width: 100vw;
  height: 6vmin;
  background-color: black;
  display: flex;
  justify-content: center;


  .header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    .header-logo {
      width: 15%;
      height: 100%;

      display: flex;
      flex-direction: column;
      line-height: 2.5vmin;
      align-items: center;
      font-family: var(--font-secondary);
      cursor: pointer;

      .logo-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .logo-top {

          font-size: 3vmin;
          font-weight: 900;
          color: white;
        }

        .logo-bottom {
          font-size: 2.5vmin;
          font-weight: 600;
          color: var(--color-pink);
        }
      }
    }

    .header-nav {
      width: 70%;
      height: 100%;
      display: flex;



      .nav-menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        // align-items: center;

        text-transform: uppercase;



        a {
          text-decoration: none;
          font-size: 2vmin;

          font-family: var(--font-primary);
          font-weight: 400;
          color: rgba(255, 255, 255, 0.85);
          text-decoration-color: var(--color-pink);
          text-decoration-skip-ink: none;
        }

        a:hover {
          color: white;

          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-decoration-color: var(--color-pink);
          text-underline-offset: 25%;
          text-decoration-skip-ink: none;
          transition: all 0.1s;
        }

        a:focus {
          color: white;
          text-decoration: underline;

          text-decoration-thickness: 0.7vmin;
          text-decoration-color: var(--color-pink);
          font-size: 2.5vmin;
          transition: 0.3s;

          text-underline-offset: 1.4vmin;
        }

        .nav-icons {

          width: 50%;
          display: flex;
          gap: 1px;
          justify-content: center;



          :hover {

            cursor: pointer;
            // background-color: var(--color-pink);
            background: linear-gradient(0deg, rgba(199, 10, 120, 1) 5%, rgb(24, 23, 23) 5%);
            transition: all 0.1s;

          }





          .icon {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;



            svg {
              fill: white;
            }



            &:active {
              svg {

                opacity: 0.8;

              }
            }

            :hover {
              background: none;
            }

          }
        }






      }
    }


    .nav-login {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      button {
        border-radius: 1vmin;
        border: 1px solid transparent;
        padding: 1vmin 4vmin;

        font-size: 2vmin;
        font-weight: 700;
        font-family: var(--font-primary);
        background-color: #1a1a1a;
        cursor: pointer;
        white-space: nowrap;
      }

      button:hover {
        background-color: var(--color-pink);
        transition: 0.1s;
      }
    }
  }
}