.App-header {
  width: 100vw;
  height: 6vmin;
  background-color: black;
  display: flex;
  justify-content: center;


  .header-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    .header-logo {
      width: 15%;
      height: 100%;

      display: flex;
      flex-direction: column;
      line-height: 2.5vmin;
      align-items: center;
      font-family: var(--font-secondary);

      cursor: pointer;

      .logo-container {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .logo-top {

          font-size: 3vmin;
          font-weight: 900;
          color: white;
        }

        .logo-bottom {
          font-size: 2vmin;
          font-weight: 600;
          color: var(--color-pink);
        }
      }
    }

    .header-nav {
      width: 70%;
      height: 100%;
      display: flex;



      .nav-menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        // align-items: center;

        text-transform: uppercase;





        .nav-icons {

          width: 50%;
          display: flex;
          justify-content: center;

          .nav-icons:focus {
            background: linear-gradient(0deg, rgba(199, 10, 120, 1) 5%, rgb(24, 23, 23) 5%);
          }


          :hover {

            cursor: pointer;
            background: linear-gradient(0deg, rgba(199, 10, 120, 1) 5%, rgb(24, 23, 23) 5%);
            transition: all 0.1s;

          }

          .icon {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              fill: white;
              width: 2.5vmin;
              height: 2.5vmin;
            }

            &:active {
              svg {
                opacity: 0.7;

              }
            }

            :hover {
              background: none;
            }


          }




        }






      }
    }


    .nav-login {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5vmin;

      button {
        border-radius: 1vmin;
        border: 1px solid transparent;
        padding: 1vmin 4vmin;

        font-size: 2vmin;
        font-weight: 700;
        font-family: var(--font-primary);
        background-color: #1a1a1a;
        cursor: pointer;
        white-space: nowrap;
      }

      button:hover {
        background-color: var(--color-pink);
        transition: 0.1s;
      }

      span {
        font-size: 2vmin;
        font-family: var(--font-primary);
      }

    }
  }
}